@import '../../../../assets/styles/media';

.grid {
  @apply flex flex-wrap mt-6 mb-10;
  background: #F7F7F7;
  border-radius: 8px;
  gap: 1rem;
  padding: 2%;

  @include media(tablet) {
    @apply mt-4 mb-6;
  }

  .item {
    @apply relative;
    flex: 1 1 calc((100% / 4) - 2rem);
    @include media(tablet) {
      flex: 1 1 calc((100% / 2) - 2rem);
    }

    .gradient {
      @apply flex justify-center items-center h-32   border-primary border border-solid relative z-10;
      transition: 0.5s;
      border-radius: 8px;

      background-size: 200% auto;
    }

    &:hover {
      .gradient {
        background-position: right center;
      }

      > div:nth-child(3) {
        @apply hidden;
      }
    }

    .title {
      @apply text-fontColor opacity-80 font-medium mt-2 mb-1;
      font-size: 1rem;
      @include media(tablet) {
        @apply mb-0;
        font-size: 1rem;
      }
    }
  }
}
